<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fashion by MatahariMall.com</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="Fashion by MatahariMall.com">
    <link rel="canonical" href="https://mataharimall.com/" />
    <link rel="shortcut icon" href="https://super.mataharimall.com/cmt/files/favicon.ico" type="image/vnd.microsoft.icon" />
    <!-- Fashion style CSS -->
    <link rel="stylesheet" href="css/fashionmall.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<body>
<header id="header">
    <!-- TOP BAR -->
    <div class="topbar">
        <div class="container">
            <ul class="nav-info-links">    
                <li><a href="#">Pengiriman Gratis</a></li>
                <li><a href="#">Bayar di Tempat</a></li>
                <li><a href="#">Ratusan Lokasi Pengambilan</a></li>
            </ul>
            <ul class="nav-menu" role="tablist">
                <li><a href="#">Pusat Bantuan</a></li>
                <!-- Login Desktop -->
                <li class="dropdown login-desktop" role="presentation">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="login-form" role="button">Login</a>
                    <ul aria-labelledby="login-form" class="dropdown-menu">
                        <li>
                            <div class="login-box">
                                <form accept-charset="UTF-8" action="https://www.mataharimall.com/user/ajax/login" class="bv-form" id="user-login-form" method="post" name="user-login-form" novalidate="novalidate">
                                    <button class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;" type="submit"><span class="ladda-label"></span><span class="ladda-spinner"></span></button>
                                        <!-- Input Email Address -->
                                        <div class="form-group has-feedback">
                                            <input class="required" data-bv-field="email" id="email" maxlength="60" name="email" size="15" tabindex="1" type="text" value="" placeholder="Email Address" required>
                                            <i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="notEmpty" style="display: none;">Email is required</small><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="emailAddress" style="display: none;">Invalid email address</small><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="stringLength" style="display: none;">Please enter a value with valid length</small>
                                        </div>
                                        <!-- Input Password -->
                                        <div class="form-group has-feedback">
                                            <input class="required" data-bv-field="passwd" id="passwd" maxlength="128" name="passwd" size="15" tabindex="1" type="password" placeholder="Password">
                                            <i class="form-control-feedback" data-bv-icon-for="passwd" style="display: none;"></i> 
                                            <small class="help-block" data-bv-for="passwd" data-bv-result="NOT_VALIDATED" data-bv-validator="notEmpty" style="display: none;">Password is required</small><small class="help-block" data-bv-for="passwd" data-bv-result="NOT_VALIDATED" data-bv-validator="stringLength" style="display: none;">Minimum password is 6 characters</small>
                                        </div>
                                        <!-- Remember Me -->
                                        <div class="remember-me checkbox">
                                            <label for="edit-remember-me">
                                                <input checked="checked" class="form-checkbox" id="edit-remember-me" name="remember_me" tabindex="1" type="checkbox" value="1">
                                                Remember me
                                            </label>
                                        </div>
                                        <!-- Sign In Button -->
                                        <button class="btn btn-signin" id="edit-submit" name="op" tabindex="1" type="submit" value="Masuk">
                                            <span class="ladda-label">Masuk</span><span class="ladda-spinner"></span>
                                        </button>
                                        <span class="space-or">OR</span>
                                        <!-- Facebook Button -->
                                        <a class="btn btn-fb fb-social-custom" href="https://www.facebook.com/v2.5/dialog/oauth?client_id=1622473734691325&amp;state=c864b34506644918ba6311d68db74bbd&amp;response_type=code&amp;sdk=php-sdk-5.1.2&amp;redirect_uri=https%3A%2F%2Fwww.mataharimall.com%2Fuser%2Ffb%3Fredirect%3D&amp;scope=email" style="background-color: rgb(60, 89, 152);" tabindex="2">Sign in with Facebook</a> <!-- <a tabindex="3" class="btn col-md-24 gg-social-custom" href="#">GOOGLE</a> -->
                                        <div class="other-menus clearfix">
                                            <a href="https://www.mataharimall.com/user/register" title="Create a new user account.">Daftar Aja</a>
                                            <a href="https://www.mataharimall.com/user/password" title="Request new password via e-mail.">Lupa Kata Sandi</a>
                                        </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Shop Bags -->
                <li class="dropdown shop-bags" role="presentation">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="shop-bag" role="button">
                        <span class="item-in-bag">3</span>
                    </a>
                    <ul aria-labelledby="shop-bag" class="dropdown-menu">
                        <li>
                            <div class="shop-bag-wrapper clearfix">
                            <div class="item-bag-top">
                                <div class="item-bag-top-content">
                                    <div class="lead-bag">Tas Belanja</div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                </div>
                            </div>
                            <div class="item-bag-bottom">
                                <div class="item-bag-subtotal">Subtotal : <span class="subtotal">Rp 100.000</span></div>
                                <button class="btn btn-default">Lihat Pesanan</button>
                                <button class="btn btn-primary">Lanjutkan</button>
                            </div>
                        </div>
                        </li>
                    </ul>
                </li>
                        
            </ul>
        </div>
    </div>
    <div class="mainbar">
        <div class="container">
            <div class="segment-navbar">
                <ul class="tabs-gender-wrap">
                    <li class="tabs-gender tabs-gender-female active"><a href="#female-nav">Wanita</a></li>
                    <li class="tabs-gender tabs-gender-male"><a href="#male-nav">Pria</a></li>
                </ul>
            </div>
            <div class="logo-select"><a href="#"><img src="img/fashionmall-logo.png" alt="Fashion Mall"></a></div>
            <div class="search-area">
                <input type="text" placeholder="Search over 100,000 products">
                <button type="submit"><i class="ion-ios-search-strong"></i></button>
            </div>
        </div>
    </div>
    <div class="category-navbar">
        <div class="container tab-content">
            <!-- Sub Category Female -->
            <nav role="tabpanel" id="female-nav" class="tab-pane active">
                <ul class="fashion-mall-nav">
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">Atasan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="#">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="#">Blouse</a></li>
                                        <li><a href="#">Tunik</a></li>
                                        <li><a href="#">Kemeja</a></li>
                                        <li><a href="#">Tank Top</a></li>
                                        <li><a href="#">Sweater &amp; Cardigan</a></li>
                                        <li><a href="#">Jaket &amp; Coat</a></li>
                                        <li><a href="#">Blazer</a></li>
                                        <li><a href="#">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">Dress</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="#">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="#">Blouse</a></li>
                                        <li><a href="#">Tunik</a></li>
                                        <li><a href="#">Kemeja</a></li>
                                        <li><a href="#">Tank Top</a></li>
                                        <li><a href="#">Sweater &amp; Cardigan</a></li>
                                        <li><a href="#">Jaket &amp; Coat</a></li>
                                        <li><a href="#">Blazer</a></li>
                                        <li><a href="#">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Bawahan</a></li>
                    <li><a href="#">Overall</a></li>
                    <li><a href="#">Sepatu</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Batik</a></li>
                    <li><a href="#">Kacamata</a></li>
                    <li><a href="#">Aksesoris</a></li>
                    <li><a href="#">Baju Muslim</a></li>
                    <li><a href="#">Pakaian Dalam &amp; Baju Tidur</a></li>
                    <li><a href="#">Pakaian Ibu Hamil</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
            <!-- Sub Category Male -->
            <nav role="tabpanel" id="male-nav" class="tab-pane fade">
                <ul class="fashion-mall-nav">
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">Atasan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="#">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="#">Blouse</a></li>
                                        <li><a href="#">Tunik</a></li>
                                        <li><a href="#">Kemeja</a></li>
                                        <li><a href="#">Tank Top</a></li>
                                        <li><a href="#">Sweater &amp; Cardigan</a></li>
                                        <li><a href="#">Jaket &amp; Coat</a></li>
                                        <li><a href="#">Blazer</a></li>
                                        <li><a href="#">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">Bawahan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="#">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="#">Blouse</a></li>
                                        <li><a href="#">Tunik</a></li>
                                        <li><a href="#">Kemeja</a></li>
                                        <li><a href="#">Tank Top</a></li>
                                        <li><a href="#">Sweater &amp; Cardigan</a></li>
                                        <li><a href="#">Jaket &amp; Coat</a></li>
                                        <li><a href="#">Blazer</a></li>
                                        <li><a href="#">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Sepatu Pria</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Batik</a></li>
                    <li><a href="#">Kacamata</a></li>
                    <li><a href="#">Aksesoris</a></li>
                    <li><a href="#">Baju Muslim</a></li>
                    <li><a href="#">Pakaian Dalam &amp; Baju Tidur</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>
</header>
<!-- Hero Fashion MatahariMall -->
<!-- Fashion Mall JS -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!-- Google Tag Manager -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58349921-2', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Tag Manager -->
<script src="https://stat1.mataharimall.co/js/v3.min.js"></script>
</body>
</html>