<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fashion by MatahariMall.com</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="Fashion by MatahariMall.com">
    <link rel="canonical" href="https://mataharimall.com/" />
    <link rel="shortcut icon" href="https://super.mataharimall.com/cmt/files/favicon.ico" type="image/vnd.microsoft.icon" />
    <!-- Fashion style CSS -->
    <link rel="stylesheet" href="css/fashionmall.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<body>
<header id="header">
    <!-- TOP BAR -->
    <div class="topbar">
        <div class="container">
            <ul class="nav-info-links">    
                <li><a href="#">Pengiriman Gratis</a></li>
                <li><a href="#">Bayar di Tempat</a></li>
                <li><a href="#">Ratusan Lokasi Pengambilan</a></li>
            </ul>
            <ul class="nav-menu" role="tablist">
                <li><a href="#">Pusat Bantuan</a></li>
                <!-- Login Desktop -->
                <li class="dropdown login-desktop" role="presentation">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="login-form" role="button">Login</a>
                    <ul aria-labelledby="login-form" class="dropdown-menu">
                        <li>
                            <div class="login-box">
                                <form accept-charset="UTF-8" action="https://www.mataharimall.com/user/ajax/login" class="bv-form" id="user-login-form" method="post" name="user-login-form" novalidate="novalidate">
                                    <button class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;" type="submit"><span class="ladda-label"></span><span class="ladda-spinner"></span></button>
                                        <!-- Input Email Address -->
                                        <div class="form-group has-feedback">
                                            <input class="required" data-bv-field="email" id="email" maxlength="60" name="email" size="15" tabindex="1" type="text" value="" placeholder="Email Address" required>
                                            <i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="notEmpty" style="display: none;">Email is required</small><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="emailAddress" style="display: none;">Invalid email address</small><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="stringLength" style="display: none;">Please enter a value with valid length</small>
                                        </div>
                                        <!-- Input Password -->
                                        <div class="form-group has-feedback">
                                            <input class="required" data-bv-field="passwd" id="passwd" maxlength="128" name="passwd" size="15" tabindex="1" type="password" placeholder="Password">
                                            <i class="form-control-feedback" data-bv-icon-for="passwd" style="display: none;"></i> 
                                            <small class="help-block" data-bv-for="passwd" data-bv-result="NOT_VALIDATED" data-bv-validator="notEmpty" style="display: none;">Password is required</small><small class="help-block" data-bv-for="passwd" data-bv-result="NOT_VALIDATED" data-bv-validator="stringLength" style="display: none;">Minimum password is 6 characters</small>
                                        </div>
                                        <!-- Remember Me -->
                                        <div class="remember-me checkbox">
                                            <label for="edit-remember-me">
                                                <input checked="checked" class="form-checkbox" id="edit-remember-me" name="remember_me" tabindex="1" type="checkbox" value="1">
                                                Remember me
                                            </label>
                                        </div>
                                        <!-- Sign In Button -->
                                        <button class="btn btn-signin" id="edit-submit" name="op" tabindex="1" type="submit" value="Masuk">
                                            <span class="ladda-label">Masuk</span><span class="ladda-spinner"></span>
                                        </button>
                                        <span class="space-or">OR</span>
                                        <!-- Facebook Button -->
                                        <a class="btn btn-fb fb-social-custom" href="https://www.facebook.com/v2.5/dialog/oauth?client_id=1622473734691325&amp;state=c864b34506644918ba6311d68db74bbd&amp;response_type=code&amp;sdk=php-sdk-5.1.2&amp;redirect_uri=https%3A%2F%2Fwww.mataharimall.com%2Fuser%2Ffb%3Fredirect%3D&amp;scope=email" style="background-color: rgb(60, 89, 152);" tabindex="2">Sign in with Facebook</a> <!-- <a tabindex="3" class="btn col-md-24 gg-social-custom" href="#">GOOGLE</a> -->
                                        <div class="other-menus clearfix">
                                            <a href="https://www.mataharimall.com/user/register" title="Create a new user account.">Daftar Aja</a>
                                            <a href="https://www.mataharimall.com/user/password" title="Request new password via e-mail.">Lupa Kata Sandi</a>
                                        </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Shop Bags -->
                <li class="dropdown shop-bags" role="presentation">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="shop-bag" role="button">
                        <span class="item-in-bag">3</span>
                    </a>
                    <ul aria-labelledby="shop-bag" class="dropdown-menu">
                        <li>
                            <div class="shop-bag-wrapper clearfix">
                            <div class="item-bag-top">
                                <!-- Shop bag if more than 2 item could scroll by Momo -->
                                <div class="item-bag-top-content">
                                    <div class="lead-bag">Tas Belanja</div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                </div>
                                <!-- End of shop bag by Momo -->
                            </div>
                            <div class="item-bag-bottom">
                                <div class="item-bag-subtotal">Subtotal : <span class="subtotal">Rp 100.000</span></div>
                                <button class="btn btn-default">Lihat Pesanan</button>
                                <button class="btn btn-primary">Lanjutkan</button>
                            </div>
                        </div>
                        </li>
                    </ul>
                </li>
                        
            </ul>
        </div>
    </div>
    <div class="mainbar">
        <div class="container">
            <div class="segment-navbar">
                <ul class="tabs-gender-wrap">
                    <li class="tabs-gender tabs-gender-female active"><a href="#female-nav">Wanita</a></li>
                    <li class="tabs-gender tabs-gender-male"><a href="#male-nav">Pria</a></li>
                </ul>
            </div>
            <div class="logo-select"><a href="index.html"><img src="img/fashionmall-logo.png" alt="Fashion Mall"></a></div>
            <div class="search-area">
                <input type="text" placeholder="Search over 100,000 products">
                <button type="submit"><i class="ion-ios-search-strong"></i></button>
            </div>
        </div>
    </div>
    <div class="category-navbar">
        <div class="container tab-content">
            <!-- Sub Category Female -->
            <nav role="tabpanel" id="female-nav" class="tab-pane active">
                <ul class="fashion-mall-nav">
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pcp.html">Atasan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pcp.html">Dress</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="pcp.html">Bawahan</a></li>
                    <li><a href="pcp.html">Overall</a></li>
                    <li><a href="pcp.html">Sepatu</a></li>
                    <li><a href="pcp.html">Jeans</a></li>
                    <li><a href="pcp.html">Sports</a></li>
                    <li><a href="pcp.html">Batik</a></li>
                    <li><a href="pcp.html">Kacamata</a></li>
                    <li><a href="pcp.html">Aksesoris</a></li>
                    <li><a href="pcp.html">Baju Muslim</a></li>
                    <li><a href="pcp.html">Pakaian Dalam &amp; Baju Tidur</a></li>
                    <li><a href="pcp.html">Pakaian Ibu Hamil</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
            <!-- Sub Category Male -->
            <nav role="tabpanel" id="male-nav" class="tab-pane fade">
                <ul class="fashion-mall-nav">
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pcp.html">Atasan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pdp.html">Bawahan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="pcp.html">Sepatu Pria</a></li>
                    <li><a href="pcp.html">Sports</a></li>
                    <li><a href="pcp.html">Jeans</a></li>
                    <li><a href="pcp.html">Batik</a></li>
                    <li><a href="pcp.html">Kacamata</a></li>
                    <li><a href="pcp.html">Aksesoris</a></li>
                    <li><a href="pcp.html">Baju Muslim</a></li>
                    <li><a href="pcp.html">Pakaian Dalam &amp; Baju Tidur</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>
</header>
<!-- Hero Fashion MatahariMall -->
<div class="fashionmall-segment-banner clearfix">
    <a href="pcp.html"><img src="img/hero-banner-wanita.jpg" alt="Fashion Wanita" width="100%"></a>
    <a href="pcp.html"><img src="img/hero-banner-pria.jpg" alt="Fashion Pria" width="100%"></a>
</div>
<!-- Featured brands -->
<section id="featured-brands">
    <div class="container">
        <div class="section-title">Featured Brands</div>
        <div class="featured-brands-list">
            <div class="row">
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:adidas"><img src="img/img-logo-adidas.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:rip+curl"><img src="img/img-logo-ripcurl.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:nike"><img src="img/img-logo-nike.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=,brand_name:cheap+monday"><img src="img/img-logo-cheapmonday.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:lee+cooper"><img src="img/img-logo-leecooper.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:cole"><img src="img/img-logo-cole.png" alt="fashion Pria di MatahariMall.com" /></a></div>
            </div>
            <div class="row">
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=,brand_name:mavis"><img src="img/img-logo-mavis.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:bacca"><img src="img/img-logo-bacca.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:airwalk"><img src="img/img-logo-airwalk.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:levi%27s"><img src="img/img-logo-levis.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:salt+n+pepper"><img src="img/img-logo-saltnpepper.png" alt="fashion Pria di MatahariMall.com" /></a></div>
                <div class="col-xs-2"><a target="_parent" href="https://www.mataharimall.com/p-275/fashion-pria?page=1&per_page=24&fq=brand_name:jobb"><img src="img/img-logo-jobb.png" alt="fashion Pria di MatahariMall.com" /></a></div>
            </div>
        </div>
    </div>
</section>
<!-- Promo Fashion Mall -->
<section id="promos" class="fashionmall-banner">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-4">
                <a href="pcp.html"><img src="img/banners/A1.jpg" alt="Fashion Mall"></a>
            </div>
            <div class="col-sm-4">
                <a href="pcp.html"><img src="img/banners/B1.jpg" alt="Fashion Mall"></a>
            </div>
            <div class="col-sm-4">
                <a href="pcp.html"><img src="img/banners/C1.jpg" alt="Fashion Mall"></a>
                <a href="pcp.html"><img src="img/banners/C2.jpg" alt="Fashion Mall"></a>
            </div>
        </div>
    </div>
</section>
<!-- Fashion Wanita -->
<section id="fashion-wanita" class="fashionmall-banner grey-bg-cl">
    <div class="container">
        <div class="section-title">Fashion Wanita</div>
        <div class="row clearfix">
            <div class="col-md-8"><a href="pcp.html"><img src="img/banners/A2.jpg" alt="Fashion Wanita di Fashion Mall"></a></div>
            <div class="col-md-4">
                <div id="fashion-wanita-slider" class="owl-carousel">
                    <div class="item"><a href="pcp.html"><img src="img/banners/B2.jpg" alt="Fashion Wanita di Fashion Mall"></a></div>
                    <div class="item"><a href="pcp.html"><img src="img/banners/B2.jpg" alt="Fashion Wanita di Fashion Mall"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fashion Pria -->
<section id="fashion-pria" class="fashionmall-banner">
    <div class="container">
        <div class="section-title">Fashion Pria</div>
        <div class="row clearfix">
            <div class="col-md-4">
                <div id="fashion-pria-slider" class="owl-carousel">
                    <div class="item"><a href="pcp.html"><img src="img/banners/A3.jpg" alt="Fashion Pria di Fashion Mall"></a></div>
                    <div class="item"><a href="pcp.html"><img src="img/banners/A3.jpg" alt="Fashion Pria di Fashion Mall"></a></div>
                </div>
            </div>
            <div class="col-md-8"><a href="pcp.html"><img src="img/banners/B3.jpg" alt="Fashion Pria di Fashion Mall"></a></div>
        </div>
    </div>
</section>
<!-- Eksklusif -->
<section id="eksklusif" class="fashionmall-banner">
    <div class="container">
        <div class="section-title">Eksklusif</div>
        <div class="row clearfix">
            <div class="col-md-8"><a href="pcp.html"><img src="img/banners/E1.jpg" alt="Eksklusif di Fashion Mall"></a></div>
            <div class="col-md-4">
                <div id="eksklusif-slider" class="owl-carousel">
                    <div class="item"><a href="pcp.html"><img src="img/banners/E2.jpg" alt="Eksklusif di Fashion Mall"></a></div>
                    <div class="item"><a href="pcp.html"><img src="img/banners/E2.jpg" alt="Eksklusif di Fashion Mall"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- New Arrival -->
<section id="new-arrival" class="fashionmall-banner">
    <div class="container">
        <div class="section-title">New Arrivals</div>
        <div id="new-arrival-slider" class="listing-product-slider owl-carousel">
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals1.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals2.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals3.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals4.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals5.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals1.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals2.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals3.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals4.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
            <div class="item">
                <a href="pdp.html"><img src="img/new-arrivals5.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                <h5 class="listing-item-content-brand">American Jeans</h5>
                <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                <span class="listing-item-price-old">Rp 349.000</span>
                <!--<span class="listing-item-price-discount">30%</span>-->
                <span class="listing-item-price-web">Rp 244.300</span>
            </div>
        </div>
    </div>
</section>
<section id="pre-footer">
    <div class="container">
        <div class="payments-wrap row">
          <div class="container">
            <p><img alt="Payment Method FashionMall" src="img/payment-method.png" style="max-width:100%"></p>
          </div>
        </div>
        <div class="fashionmall-about row clearfix">
            <div class="col-md-6">
                <h1>Situs Belanja Fashion Online No. #1 dan Terbesar di Indonesia</h1>
                <p>FashionMall.com adalah situs belanja online No. #1 dan terbesar di Indonesia. Kami memberikan fasilitas pelayanan yang terbaik untuk mendukung Anda belanja online dengan aman, nyaman dan terpercaya. FashionMall.com menawarkan beragam kemudahan untuk bertransaksi, seperti transfer antar bank, kartu kredit dengan cicilan 0%, O2O (Online-to-Offline), COD (Cash On Delivery), dan metode lainnya. </p>
                <p>FashionMall.com menyediakan ratusan ribu pilihan produk dengan harga terbaik dari segala kebutuhan, mulai dari fashion wanita, dress wanita, blazer wanita, sepatu wedges, fashion pria, kemeja batik pria, mukena, busana muslim, baju gamis, dan fashion terupdate lainnya. Kami menawarkan 24 jam non-stop discount dan puluhan promo menarik setiap harinya. Dengan begini, belanja online murah bisa jadi pilihan menarik yang sayang jika Anda lewatkan.</p>
            </div>
            <div class="col-md-6">
                <h2>Kemudahan &amp; Kenyamanan Bertransaksi</h2>
                <p>Toko online FashionMall.com menawarkan fasilitas transaksi yang mudah dan aman, seperti transfer antar bank, kartu kredit dengan cicilan 0%, O2O (Online-to-Offline), COD (Cash On Delivery), dan metode lainnya. Beragam metode pembayaran ini tentu akan meningkatkan pengalaman belanja online Anda.</p>
                <p class="h2">Sistem Belanja Online to Offline (O2O)</p>
                <p>Kami menerapkan sistem belanja Online to Offline (O2O) dimana Anda dapat membayar, mengambil, dan mengembalikan produk di ratusan lokasi di seluruh Indonesia.</p>
                <p class="h2">Spesial Promo Belanja Murah</p>
                <p>Nikmati penawaran spesial setiap harinya hanya di FashionMall.com. Hanya dengan mendaftar di FashionMall.com, Anda bisa langsung mendapatkan voucher belanja online murah secara gratis. Nantikan juga pemberitahuan mengenai promo dan diskon belanja online dengan berlangganan newsletter kami.</p>
            </div>
        </div>
    </div>
</section>
<!-- Fashion Mall Footer -->
<footer id="footer">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-3">
                <div class="block-title">Layanan Pelanggan</div>
                <ul>
                    <li><a href="#">Cara Berbelanja</a></li>
                    <li><a href="#">Info Pembayaran</a></li>
                    <li><a href="#">Info Pengiriman</a></li>
                    <li><a href="#">Cara Pengembalian Produk</a></li>
                    <li><a href="#">Panduan Ukuran</a></li>
                    <li><a href="#">Ada Pertanyaan?</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <div class="block-title">Info FashionMall.com</div>
                <ul>
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Berjualan di FashionMall.com</a></li>
                    <li><a href="#">Partnership Lainnya</a></li>
                    <li><a href="#">Info Karir</a></li>
                    <li><a href="#">Kebijakan Privasi</a></li>
                    <li><a href="#">Syarat &amp; Ketentuan</a></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <div class="block-title">Daftar &amp; Dapatkan Penawaran Spesial!</div>
                <div class="form-newsletter-signup">
                    <form action="https://mataharimall.us10.list-manage.com/subscribe/post-json?u=ce402de87bc4303ab82a36695&amp;id=912ec37292&amp;c=?" class="form-search-opps" id="mc-embedded-subscribe-form" method="get" name="mc-embedded-subscribe-form" novalidate="" role="search">
                        <input id="mce-EMAIL" name="EMAIL" placeholder="Masukkan email Anda di sini" type="text" value="">
                        <button id="mce-GENDER-0" name="GENDER" type="submit" value="Pria">
                            <span class="ladda-label">Pria</span><span class="ladda-spinner"></span>
                        </button>
                        <button id="mce-GENDER-1" name="GENDER" type="submit" value="Wanita">
                            <span class="ladda-label">Wanita</span><span class="ladda-spinner"></span>
                        </button>
                    </form>
                </div>
                <div class="social-media-links">
                    <span>Follow Us</span>
                    <ul>
                        <li><a href="#"><span class="ion-social-facebook"></span></a></li>
                        <li><a href="#"><span class="ion-social-instagram-outline"></span></a></li>
                        <li><a href="#"><span class="ion-social-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Fashion Mall JS -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!-- Google Tag Manager -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58349921-2', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Tag Manager -->
<script src="https://stat1.mataharimall.co/js/v3.min.js"></script>
</body>
</html>