<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fashion by FashionMall.com</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="Fashion by FashionMall.com">
    <link rel="canonical" href="https://mataharimall.com/" />
    <link rel="shortcut icon" href="https://super.mataharimall.com/cmt/files/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="https://stat3.mataharimall.co/assets/jquery-ui/jquery-ui.min.css?v=1.23">
    <link rel="stylesheet" type="text/css" href="https://stat1.mataharimall.co/assets/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://stat1.mataharimall.co/assets/ladda/ladda-themeless.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- Fashion style CSS -->
    <link rel="stylesheet" href="css/fashionmall.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<body>
<header id="header">
    <!-- TOP BAR -->
    <div class="topbar">
        <div class="container">
            <ul class="nav-info-links">    
                <li><a href="#">Pengiriman Gratis</a></li>
                <li><a href="#">Bayar di Tempat</a></li>
                <li><a href="#">Ratusan Lokasi Pengambilan</a></li>
            </ul>
            <ul class="nav-menu" role="tablist">
                <li><a href="#">Pusat Bantuan</a></li>
                <!-- Login Desktop -->
                <li class="dropdown login-desktop" role="presentation">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="login-form" role="button">Login</a>
                    <ul aria-labelledby="login-form" class="dropdown-menu">
                        <li>
                            <div class="login-box">
                                <form accept-charset="UTF-8" action="https://www.mataharimall.com/user/ajax/login" class="bv-form" id="user-login-form" method="post" name="user-login-form" novalidate="novalidate">
                                    <button class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;" type="submit"><span class="ladda-label"></span><span class="ladda-spinner"></span></button>
                                        <!-- Input Email Address -->
                                        <div class="form-group has-feedback">
                                            <input class="required" data-bv-field="email" id="email" maxlength="60" name="email" size="15" tabindex="1" type="text" value="" placeholder="Email Address" required>
                                            <i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="notEmpty" style="display: none;">Email is required</small><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="emailAddress" style="display: none;">Invalid email address</small><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="stringLength" style="display: none;">Please enter a value with valid length</small>
                                        </div>
                                        <!-- Input Password -->
                                        <div class="form-group has-feedback">
                                            <input class="required" data-bv-field="passwd" id="passwd" maxlength="128" name="passwd" size="15" tabindex="1" type="password" placeholder="Password">
                                            <i class="form-control-feedback" data-bv-icon-for="passwd" style="display: none;"></i> 
                                            <small class="help-block" data-bv-for="passwd" data-bv-result="NOT_VALIDATED" data-bv-validator="notEmpty" style="display: none;">Password is required</small><small class="help-block" data-bv-for="passwd" data-bv-result="NOT_VALIDATED" data-bv-validator="stringLength" style="display: none;">Minimum password is 6 characters</small>
                                        </div>
                                        <!-- Remember Me -->
                                        <div class="remember-me checkbox">
                                            <label for="edit-remember-me">
                                                <input checked="checked" class="form-checkbox" id="edit-remember-me" name="remember_me" tabindex="1" type="checkbox" value="1">
                                                Remember me
                                            </label>
                                        </div>
                                        <!-- Sign In Button -->
                                        <button class="btn btn-signin" id="edit-submit" name="op" tabindex="1" type="submit" value="Masuk">
                                            <span class="ladda-label">Masuk</span><span class="ladda-spinner"></span>
                                        </button>
                                        <span class="space-or">OR</span>
                                        <!-- Facebook Button -->
                                        <a class="btn btn-fb fb-social-custom" href="https://www.facebook.com/v2.5/dialog/oauth?client_id=1622473734691325&amp;state=c864b34506644918ba6311d68db74bbd&amp;response_type=code&amp;sdk=php-sdk-5.1.2&amp;redirect_uri=https%3A%2F%2Fwww.mataharimall.com%2Fuser%2Ffb%3Fredirect%3D&amp;scope=email" style="background-color: rgb(60, 89, 152);" tabindex="2">Sign in with Facebook</a> <!-- <a tabindex="3" class="btn col-md-24 gg-social-custom" href="#">GOOGLE</a> -->
                                        <div class="other-menus clearfix">
                                            <a href="https://www.mataharimall.com/user/register" title="Create a new user account.">Daftar Aja</a>
                                            <a href="https://www.mataharimall.com/user/password" title="Request new password via e-mail.">Lupa Kata Sandi</a>
                                        </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Shop Bags -->
                <li class="dropdown shop-bags" role="presentation">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="shop-bag" role="button">
                        <span class="item-in-bag">3</span>
                    </a>
                    <ul aria-labelledby="shop-bag" class="dropdown-menu">
                        <li>
                            <div class="shop-bag-wrapper clearfix">
                            <div class="item-bag-top">
                                <div class="item-bag-top-content">
                                    <div class="lead-bag">Tas Belanja</div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="pdp.html"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="pdp.html"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="pdp.html"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="pdp.html"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                </div>
                            </div>
                            <div class="item-bag-bottom">
                                <div class="item-bag-subtotal">Subtotal : <span class="subtotal">Rp 100.000</span></div>
                                <button class="btn btn-default">Lihat Pesanan</button>
                                <button class="btn btn-primary">Lanjutkan</button>
                            </div>
                        </div>
                        </li>
                    </ul>
                </li>
                        
            </ul>
        </div>
    </div>
    <div class="mainbar">
        <div class="container">
            <div class="segment-navbar">
                <ul class="tabs-gender-wrap">
                    <li class="tabs-gender tabs-gender-female active"><a href="#female-nav">Wanita</a></li>
                    <li class="tabs-gender tabs-gender-male"><a href="#male-nav">Pria</a></li>
                </ul>
            </div>
            <div class="logo-select"><a href="index.html"><img src="img/fashionmall-logo.png" alt="Fashion Mall"></a></div>
            <div class="search-area">
                <input type="text" placeholder="Search over 100,000 products">
                <button type="submit"><i class="ion-ios-search-strong"></i></button>
            </div>
        </div>
    </div>
    <div class="category-navbar">
        <div class="container tab-content">
            <!-- Sub Category Female -->
            <nav role="tabpanel" id="female-nav" class="tab-pane active">
                <ul class="fashion-mall-nav">
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pcp.html">Atasan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pcp.html">Dress</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="pcp.html">Bawahan</a></li>
                    <li><a href="pcp.html">Overall</a></li>
                    <li><a href="pcp.html">Sepatu</a></li>
                    <li><a href="pcp.html">Jeans</a></li>
                    <li><a href="pcp.html">Sports</a></li>
                    <li><a href="pcp.html">Batik</a></li>
                    <li><a href="pcp.html">Kacamata</a></li>
                    <li><a href="pcp.html">Aksesoris</a></li>
                    <li><a href="pcp.html">Baju Muslim</a></li>
                    <li><a href="pcp.html">Pakaian Dalam &amp; Baju Tidur</a></li>
                    <li><a href="pcp.html">Pakaian Ibu Hamil</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
            <!-- Sub Category Male -->
            <nav role="tabpanel" id="male-nav" class="tab-pane fade">
                <ul class="fashion-mall-nav">
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pcp.html">Atasan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pdp.html">Bawahan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="ppcpdp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="pcp.html">Sepatu Pria</a></li>
                    <li><a href="pcp.html">Sports</a></li>
                    <li><a href="pcp.html">Jeans</a></li>
                    <li><a href="pcp.html">Batik</a></li>
                    <li><a href="pcp.html">Kacamata</a></li>
                    <li><a href="pcp.html">Aksesoris</a></li>
                    <li><a href="pcp.html">Baju Muslim</a></li>
                    <li><a href="pcp.html">Pakaian Dalam &amp; Baju Tidur</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>
</header>
<div class="fashionmall-banner category-banner">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-3"><a href="pdp.html"><img src="img/banners/category-banner2.jpg" class="img-responsive center-block"></a></div>
            <div class="col-md-9"><a href="pdp.html"><img src="img/banners/category-banner1.jpg" class="img-responsive center-block"></a></div>
        </div>
        <div class="row clearfix">
            <div class="col-md-9"><a href="pdp.html"><img src="img/banners/category-banner1.jpg" class="img-responsive center-block"></a></div>
            <div class="col-md-3"><a href="pdp.html"><img src="img/banners/category-banner2.jpg" class="img-responsive center-block"></a></div>
            
        </div>
    </div>
</div>
<div id="products-wrap">
    <div class="container">
        <div class="listing-top-nav row clearfix">
            <div class="breadcrumbs col-md-3">
                <ol class="breadcrumb">
                    <li class="first"><a href="#">Home</a></li> 
                    <li><a href="#">Pria</a></li>                            
                    <li class="last">Jeans</li>
                </ol>
            </div>
            <div class="listing-sort col-md-3">
                <label>Sort By</label>
                <ul class="nav filter-dropdown select-slick" role="tablist">
                    <li class="dropdown" role="presentation">
                        <a aria-expanded="false" aria-haspopup="true" class="filter-sortby dropdown-toggle" data-toggle="dropdown" href="#" id="sort-price" role="button">
                        Sort By</a>
                        <ul aria-labelledby="sort-price" class="dropdown-menu">
                            <li>
                                <a href="#">Terbaru</a>
                            </li>
                            <li>
                                <a href="#">Alfabet A-Z</a>
                            </li>
                            <li>
                                <a href="#">Harga Terendah</a>
                            </li>
                            <li>
                                <a href="#">Harga Tertinggi</a>
                            </li>
                            <li>
                                <a href="#">Diskon Tertinggi</a>
                            </li>
                            <li>
                                <a href="#">Diskon Terendah</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="listing-pagination col-md-3 col-md-offset-3">
                <ul class="pagination">
                    <li><a title="Prev" href="#"><i class="ion-arrow-left-b"></i></a></li>
                    <li class="active"><a title="Go to page 1" href="#">1</a></li>
                    <li><a title="Go to page 2" href="#">2</a></li>
                    <li><a title="Go to page 3" href="#">3</a></li>
                    <li class="next last"><a title="Next" href="#"><i class="ion-arrow-right-b"></i></a></li>                       
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <!-- Filter -->
            <div class="col-md-3">
                <div class="sidenav-filter" data-spy="affix" data-offset-top="800" data-offset-bottom="1000">
                    <!--<div class="sidenav-title">FILTER BY</div>-->
                    <ul class="filter-list-wrapper">
                        <li class="filter-block">
                            <a aria-controls="filterSideCategory" aria-expanded="false" class="filter-colapse-btn" data-toggle="collapse" href="#filterSideCategory" role="button">Kategori</a>
                            <div class="collapse-style collapse in" id="filterSideCategory">
                                <ul class="multiselect-wrapper" id="filterSidecategory_ids_1">
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Kemeja <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Kaos <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Jaket <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Sweater &amp; Cardigan <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Jas <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Vest <span></span></label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="filter-block">
                            <a aria-controls="filterSideSize" aria-expanded="false" class="filter-colapse-btn collapsed" data-toggle="collapse" href="#filterSideSize" role="button">Size</a>
                            <div class="collapse-style collapse" id="filterSideSize">
                                <ul class="multiselect-wrapper" id="filterSidecategory_ids_1">
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">All <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">XS <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">S <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">M<span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">L<span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">XL<span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">XXL<span></span></label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="filter-block">
                            <a aria-controls="filterSideWarna" aria-expanded="false" class="filter-colapse-btn collapsed" data-toggle="collapse" href="#filterSideWarna" role="button">Warna</a>
                            <div class="collapse-style collapse" id="filterSideWarna">
                                <ul class="multiselect-wrapper" id="filterSidecategory_ids_1">
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Black <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Blue <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Brown <span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Green<span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Grey<span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Pink<span></span></label>
                                    </li>
                                    <li class="multiselect-item">
                                        <input id="filterCheck1279" name="filterSidecategory_ids_1[]" type="checkbox" value="1279"> <label for="filterCheck1279">Red<span></span></label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="filter-block">
                            <a aria-controls="filterSidePrice" aria-expanded="false" class="filter-colapse-btn collapsed" data-toggle="collapse" href="#filterSidePrice" role="button">Harga</a>
                            <script>
                                $(function() {
                                    buildSliderRange({
                                        min:59900,
                                        max:2655545,
                                        values: [ 303200, 1444150 ],
                                    });
                                });
                            </script>
                            <div class="collapse-style collapse" id="filterSidePrice">
                                <ul aria-labelledby="menu1" class="price-range-box" id="menu1">
                                    <li class="multiselect-item">
                                        <div class="price-range">
                                            <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider-range">
                                                <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 56%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" style="left: 0%;" tabindex="0"></span><span class="ui-slider-handle ui-state-default ui-corner-all" style="left: 56%;" tabindex="0"></span>
                                            </div>
                                            <div class="input-range clearfix">
                                                <input id="min-price-txt" type="text" placeholder="Min"> <input id="min-price" type="hidden" value="59900"> 
                                                <input id="max-price-txt" type="text" placeholder="Max"> <input id="max-price" type="hidden" value="1459900"> 
                                                <button class="btn" id="edit-submit-price-range" type="submit" value="">Apply</button>
                                            </div>
                                        </div>
                                        
                                        <script>
                                            arrFilter['Price'] = {"url":"\/p-2936\/your-all-time-favorite?bannerid=Top_A1&ct0={clickurl_enc}&page=1&per_page=24&fq=brand_name:herschel,effective_price:","max":0,"min":0};
                                        </script>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="filter-block">
                            <a aria-controls="filterBrand" aria-expanded="false" class="filter-colapse-btn collapsed" data-toggle="collapse" href="#filterBrand" role="button">Brand</a>
                            <div class="checklistContainer collapse-style collapse" id="filterBrand">
                                <div class="findInList" id="filterBrand_findInListDiv">
                                    <input class="" id="filterBrand_findInList" type="text" placeholder="Search Brand">
                                </div>
                                <div class="checklist checklistHighlighted" id="filterBrand_checklist" style="position: relative; height: 2px; width: 238px;">
                                    <ul class="checklist">
                                        <li class="even" tabindex="0"><input id="filterBrand_adidas" name="filterBrand[]" type="checkbox" value="adidas"> <label class="leaveRoomForCheckbox" for="filterBrand_adidas">adidas</label></li>
                                        <li class="odd" style="display: list-item;" tabindex="0"><input id="filterBrand_army_watch" name="filterBrand[]" type="checkbox" value="army_watch"> <label class="leaveRoomForCheckbox" for="filterBrand_army_watch">army watch</label></li>
                                        <li class="even" style="display: list-item;" tabindex="0"><input id="filterBrand_bagtitude" name="filterBrand[]" type="checkbox" value="bagtitude"> <label class="leaveRoomForCheckbox" for="filterBrand_bagtitude">bagtitude</label></li>
                                        <li class="odd" style="display: list-item;" tabindex="0"><input id="filterBrand_blf" name="filterBrand[]" type="checkbox" value="blf"> <label class="leaveRoomForCheckbox" for="filterBrand_blf">blf</label></li>
                                    </ul>
                                </div>
                                <div class="actionButtons" id="filterBrand_actionButtons">
                                    <span data-action="checkAll">Check all</span> | <span data-action="clearAll">Uncheck all</span> | <span data-action="invert">Invert select</span>
                                </div>
                            </div>
                        </li>
                        <li style="list-style: none; display: inline">
                            <script>
                            arrFilter['category_ids_1'] = {"286":"\/products?query=raxzel&page=1&per_page=24&fq=brand_name:raxzel,category_ids_1:286","276":"\/products?query=raxzel&page=1&per_page=24&fq=brand_name:raxzel,category_ids_1:276","1279":"\/products?query=raxzel&page=1&per_page=24&fq=brand_name:raxzel,category_ids_1:1279"};
                            </script>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Listing Product -->
            <div class="col-md-9">
                <section class="listing-items clearfix">
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="pdp.html">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="pdp.html">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="pdp.html">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="#">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="#">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="#">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="#">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="#">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="#">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="#">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="#">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                    <article class="listing-item">
                        <div class="ribbon">New</div>
                        <div class="listing-item-image">
                            <a href="pdp.html">
                                <img src="img/img-product1.jpg" alt="Fashion Mall">
                                <img src="img/img-product2.jpg" alt="Fashion Mall">
                            </a>
                        </div>
                        <a href="pdp.html">
                            <h5 class="listing-item-content-brand">American Jeans</h5>
                            <span class="listing-item-price-discount">70% OFF</span>
                            <div class="clearfix"></div>
                            <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                            <span class="listing-item-price-old">Rp 349.000</span>
                            <span class="listing-item-price-web">Rp 244.300</span>
                        </a>
                    </article>
                </section>
                <!-- Listing Pagination -->
                <div class="listing-top-nav row clearfix">
                    <div class="listing-sort col-md-4">
                        <label>Sort By</label>
                        <ul class="nav filter-dropdown select-slick" role="tablist">
                            <li class="dropdown" role="presentation">
                                <a aria-expanded="false" aria-haspopup="true" class="filter-sortby dropdown-toggle" data-toggle="dropdown" href="#" id="sort-price" role="button">
                                Sort By</a>
                                <ul aria-labelledby="sort-price" class="dropdown-menu">
                                    <li>
                                        <a href="#">Terbaru</a>
                                    </li>
                                    <li>
                                        <a href="#">Alfabet A-Z</a>
                                    </li>
                                    <li>
                                        <a href="#">Harga Terendah</a>
                                    </li>
                                    <li>
                                        <a href="#">Harga Tertinggi</a>
                                    </li>
                                    <li>
                                        <a href="#">Diskon Tertinggi</a>
                                    </li>
                                    <li>
                                        <a href="#">Diskon Terendah</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="listing-sort col-md-4">
                        <label>Product View</label>
                        <ul class="nav product-view select-slick" role="tablist">
                            <li class="dropdown" role="presentation">
                                <a aria-expanded="false" aria-haspopup="true" class="select-slick-small dropdown-toggle" data-toggle="dropdown" href="#" id="sort-price" role="button">
                                24</a>
                                <ul aria-labelledby="sort-price" class="dropdown-menu">
                                    <li>
                                        <a href="#">12</a>
                                    </li>
                                    <li>
                                        <a href="#">18</a>
                                    </li>
                                    <li>
                                        <a href="#">24</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="listing-pagination col-md-4">
                        <ul class="pagination">
                            <li><a title="Prev" href="#"><i class="ion-arrow-left-b"></i></a></li>
                            <li class="active"><a title="Go to page 1" href="#">1</a></li>
                            <li><a title="Go to page 2" href="#">2</a></li>
                            <li><a title="Go to page 3" href="#">3</a></li>
                            <li class="next last"><a title="Next" href="#"><i class="ion-arrow-right-b"></i></a></li>                       
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="pre-footer" class="block-seo-description">
    <div class="container">
        <div class="payments-wrap row">
          <div class="container">
            <p><img alt="Payment Method FashionMall" src="img/payment-method.png" style="max-width:100%"></p>
          </div>
        </div>
        <div class="fashionmall-about row clearfix">
            <div class="col-md-12">
                <h2>Tips Jitu Memilih Fashion Wanita Online</h2>
                <p>Belanja online di MatahariMall memang memberikan banyak kemudahan. Dari berbagai macam produk online yang tersedia, produk fashion wanita merupakan salah satu yang paling banyak diminati. Selain naluri wanita yang memang suka berbelanja, banyak wanita memilih belanja online di MatahariMall karena lebih fleksibel.</p>
                <p class="h2">Fashion Wanita Masa Kini  </p>
                <p>Wanita modern saat ini memiliki peran yang lebih beragam. Wanita-wanita masa kini lebih dinamis dan bebas berekspresi. Begitu pula dalam mereka berpenampilan. Fashion wanita sekarang ini semakin beragam dan mencerminkan kebebasan masing-masing individu untuk memperlihatkan gayanya. Lihat saja koleksi kemeja wanita, rok, celana panjang, long dress, pakaian hamil, dan pakaian olahraga di MatahariMall. Banyak sekali koleksi fashion wanita dengan promo-promo menarik yang bisa kamu mix and match menjadi style ala dirimu sendiri. </p>
                <p class="h2">Tampil Maksimal Dengan Koleksi Fashion Wanita Terbaru</p>
                <p>MatahariMall memiliki koleksi fashion wanita terbaru yang sangat lengkap. Sebut saja brand-brand terkenal yang mewakili penampilan wanita modern masa kini, seperti A to Z, Accent,  Zara, D&k, Cotton & Me, hingga koleksi busana muslim ternama, termasuk Dian Pelangi. Tak ketinggalan sepatu-sepatu chic model terbaru dari Marie Claire, Yongki Komaladi, Navara, Austin dan masih banyak lagi, yang siap mempercantik penampilanmu. Pada saat berbelanja, salah satu tips jitu untuk memilih baju yang tepat adalah dengan mencari model baju yang mirip dengan bentuk tubuhmu karena biasanya akan langsung cocok kamu pakai. Misalnya saja bentuk tubuhmu kecil di bagian atas dan besar di bagian bawah, maka sebaiknya pilih model-model berbentuk A-line. Bukan berarti model-model lain tidak cocok, hanya saja lebih sulit untuk diprediksi.</p>
                <p class="h2">Belanja Fashion Wanita Online di FashionMall.com</p>
                <p>Tak seperti toko-toko konvensional, FashionMall.com buka 24 jam setiap hari. Sehingga kamu tak perlu buru-buru karena kamu bisa berbelanja kapan saja dan mempertimbangkan pilihanmu dengan matang. Apalagi jika produk yang akan kamu beli adalah produk fashion. Pastinya pilihanmu harus tepat agar penampilanmu semakin cantik nantinya. Ketika berbelanja fashion wanita online, pastikan jika ukuran yang kamu pilih sudah sesuai dengan ukuran tubuhmu. Kamu bisa melihat dulu fit notes yang biasanya menjelaskan ukuran badan dan baju yang dikenakan model. Di MatahariMall, kamu bisa menemukannya pada bagian ‘Deskripsi Produk’ yang tersedia di semua jenis produk fashion wanita. Dengan begitu, kamu bisa memperkirakan ukuran apa yang pas dengan tubuhmu.</p>
                <p>Selain itu, perhatikan juga bahannya. Untuk model-model yang ketat dan pas di badan, sebaiknya kamu memastikan jika bahan yang digunakan cukup tebal. Mengenakan baju ketat dengan bahan yang terlalu tipis pastinya tidak nyaman kan, ladies? Bahan stretch rasanya juga lebih aman dibandingkan bahan-bahan non-stretch karena lebih fleksibel. Dengan beragamnya produk fashion wanita terbaru di MatahariMall, kamu bebas memilih gaya mana yang sesuai dengan bentuk tubuhmu. Dan yang paling penting adalah mengutamakan kenyamananmu. Pilihlah baju, sepatu, tas, dan aksesoris yang mencerminkan kepribadianmu.</p>
            </div>
        </div>
    </div>
</section>
<!-- Fashion Mall Footer -->
<footer id="footer">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-3">
                <div class="block-title">Layanan Pelanggan</div>
                <ul>
                    <li><a href="#">Cara Berbelanja</a></li>
                    <li><a href="#">Info Pembayaran</a></li>
                    <li><a href="#">Info Pengiriman</a></li>
                    <li><a href="#">Cara Pengembalian Produk</a></li>
                    <li><a href="#">Panduan Ukuran</a></li>
                    <li><a href="#">Ada Pertanyaan?</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <div class="block-title">Info FashionMall.com</div>
                <ul>
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Berjualan di FashionMall.com</a></li>
                    <li><a href="#">Partnership Lainnya</a></li>
                    <li><a href="#">Info Karir</a></li>
                    <li><a href="#">Kebijakan Privasi</a></li>
                    <li><a href="#">Syarat &amp; Ketentuan</a></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <div class="block-title">Daftar &amp; Dapatkan Penawaran Spesial!</div>
                <div class="form-newsletter-signup">
                    <form action="https://mataharimall.us10.list-manage.com/subscribe/post-json?u=ce402de87bc4303ab82a36695&amp;id=912ec37292&amp;c=?" class="form-search-opps" id="mc-embedded-subscribe-form" method="get" name="mc-embedded-subscribe-form" novalidate="" role="search">
                        <input id="mce-EMAIL" name="EMAIL" placeholder="Masukkan email Anda di sini" type="text" value="">
                        <button id="mce-GENDER-0" name="GENDER" type="submit" value="Pria">
                            <span class="ladda-label">Pria</span><span class="ladda-spinner"></span>
                        </button>
                        <button id="mce-GENDER-1" name="GENDER" type="submit" value="Wanita">
                            <span class="ladda-label">Wanita</span><span class="ladda-spinner"></span>
                        </button>
                    </form>
                </div>
                <div class="social-media-links">
                    <span>Follow Us</span>
                    <ul>
                        <li><a href="#"><span class="ion-social-facebook"></span></a></li>
                        <li><a href="#"><span class="ion-social-instagram-outline"></span></a></li>
                        <li><a href="#"><span class="ion-social-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Fashion Mall JS -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://stat1.mataharimall.co/assets/jquery-ui/jquery-ui.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/owl.carousel.min.js"></script>

<!-- Google Tag Manager -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58349921-2', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Tag Manager -->
<script src="https://stat1.mataharimall.co/js/v3.min.js"></script>
</body>
</html>