<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fashion by MatahariMall.com</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="Fashion by MatahariMall.com">
    <link rel="canonical" href="https://mataharimall.com/" />
    <link rel="shortcut icon" href="https://super.mataharimall.com/cmt/files/favicon.ico" type="image/vnd.microsoft.icon" />
    <!-- Fashion style CSS -->
    <link rel="stylesheet" href="css/fashionmall.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="https://stat3.mataharimall.co/js/mousetrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<body>
<header id="header">
    <!-- TOP BAR -->
    <div class="topbar">
        <div class="container">
            <ul class="nav-info-links">    
                <li><a href="#">Pengiriman Gratis</a></li>
                <li><a href="#">Bayar di Tempat</a></li>
                <li><a href="#">Ratusan Lokasi Pengambilan</a></li>
            </ul>
            <ul class="nav-menu" role="tablist">
                <li><a href="#">Pusat Bantuan</a></li>
                <!-- Login Desktop -->
                <li class="dropdown login-desktop" role="presentation">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="login-form" role="button">Login</a>
                    <ul aria-labelledby="login-form" class="dropdown-menu">
                        <li>
                            <div class="login-box">
                                <form accept-charset="UTF-8" action="https://www.mataharimall.com/user/ajax/login" class="bv-form" id="user-login-form" method="post" name="user-login-form" novalidate="novalidate">
                                    <button class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;" type="submit"><span class="ladda-label"></span><span class="ladda-spinner"></span></button>
                                        <!-- Input Email Address -->
                                        <div class="form-group has-feedback">
                                            <input class="required" data-bv-field="email" id="email" maxlength="60" name="email" size="15" tabindex="1" type="text" value="" placeholder="Email Address" required>
                                            <i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="notEmpty" style="display: none;">Email is required</small><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="emailAddress" style="display: none;">Invalid email address</small><small class="help-block" data-bv-for="email" data-bv-result="NOT_VALIDATED" data-bv-validator="stringLength" style="display: none;">Please enter a value with valid length</small>
                                        </div>
                                        <!-- Input Password -->
                                        <div class="form-group has-feedback">
                                            <input class="required" data-bv-field="passwd" id="passwd" maxlength="128" name="passwd" size="15" tabindex="1" type="password" placeholder="Password">
                                            <i class="form-control-feedback" data-bv-icon-for="passwd" style="display: none;"></i> 
                                            <small class="help-block" data-bv-for="passwd" data-bv-result="NOT_VALIDATED" data-bv-validator="notEmpty" style="display: none;">Password is required</small><small class="help-block" data-bv-for="passwd" data-bv-result="NOT_VALIDATED" data-bv-validator="stringLength" style="display: none;">Minimum password is 6 characters</small>
                                        </div>
                                        <!-- Remember Me -->
                                        <div class="remember-me checkbox">
                                            <label for="edit-remember-me">
                                                <input checked="checked" class="form-checkbox" id="edit-remember-me" name="remember_me" tabindex="1" type="checkbox" value="1">
                                                Remember me
                                            </label>
                                        </div>
                                        <!-- Sign In Button -->
                                        <button class="btn btn-signin" id="edit-submit" name="op" tabindex="1" type="submit" value="Masuk">
                                            <span class="ladda-label">Masuk</span><span class="ladda-spinner"></span>
                                        </button>
                                        <span class="space-or">OR</span>
                                        <!-- Facebook Button -->
                                        <a class="btn btn-fb fb-social-custom" href="https://www.facebook.com/v2.5/dialog/oauth?client_id=1622473734691325&amp;state=c864b34506644918ba6311d68db74bbd&amp;response_type=code&amp;sdk=php-sdk-5.1.2&amp;redirect_uri=https%3A%2F%2Fwww.mataharimall.com%2Fuser%2Ffb%3Fredirect%3D&amp;scope=email" style="background-color: rgb(60, 89, 152);" tabindex="2">Sign in with Facebook</a> <!-- <a tabindex="3" class="btn col-md-24 gg-social-custom" href="#">GOOGLE</a> -->
                                        <div class="other-menus clearfix">
                                            <a href="https://www.mataharimall.com/user/register" title="Create a new user account.">Daftar Aja</a>
                                            <a href="https://www.mataharimall.com/user/password" title="Request new password via e-mail.">Lupa Kata Sandi</a>
                                        </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Shop Bags -->
                <li class="dropdown shop-bags" role="presentation">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="shop-bag" role="button">
                        <span class="item-in-bag">3</span>
                    </a>
                    <ul aria-labelledby="shop-bag" class="dropdown-menu">
                        <li>
                            <div class="shop-bag-wrapper clearfix">
                            <div class="item-bag-top">
                                <!-- Shop bag if more than 2 item could scroll by Momo -->
                                <div class="item-bag-top-content">
                                    <div class="lead-bag">Tas Belanja</div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                        <div class="item-bag clearfix">
                                            <div class="item-bag-image"><a href="#"><img src="img/bag-sample-img.jpg" alt="Quincy Label" title="Quincy Label"></a></div>
                                            <button class="btn-removal-product"><i class="ion-close"></i></button>
                                            <a href="pdp.html">
                                                <h5 class="item-bag-brandname">Quincy Label</h5>
                                                <p class="item-bag-description">Ornith Kemeja Biru Tua 9097 Lorem Ipsum</p>
                                                <span class="item-bag-qty">QTY : 1</span>
                                                <span class="item-bag-attribute">Size : L</span>
                                                <span class="item-bag-price">Rp 99.000</span>
                                            </a>
                                        </div>
                                </div>
                                <!-- End of shop bag by Momo -->
                            </div>
                            <div class="item-bag-bottom">
                                <div class="item-bag-subtotal">Subtotal : <span class="subtotal">Rp 100.000</span></div>
                                <button class="btn btn-default">Lihat Pesanan</button>
                                <button class="btn btn-primary">Lanjutkan</button>
                            </div>
                        </div>
                        </li>
                    </ul>
                </li>
                        
            </ul>
        </div>
    </div>
    <div class="mainbar">
        <div class="container">
            <div class="segment-navbar">
                <ul class="tabs-gender-wrap">
                    <li class="tabs-gender tabs-gender-female active"><a href="#female-nav">Wanita</a></li>
                    <li class="tabs-gender tabs-gender-male"><a href="#male-nav">Pria</a></li>
                </ul>
            </div>
            <div class="logo-select"><a href="index.html"><img src="img/fashionmall-logo.png" alt="Fashion Mall"></a></div>
            <div class="search-area">
                <input type="text" placeholder="Search over 100,000 products">
                <button type="submit"><i class="ion-ios-search-strong"></i></button>
            </div>
        </div>
    </div>
    <div class="category-navbar">
        <div class="container tab-content">
            <!-- Sub Category Female -->
            <nav role="tabpanel" id="female-nav" class="tab-pane active">
                <ul class="fashion-mall-nav">
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pcp.html">Atasan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pcp.html">Dress</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="pcp.html">Bawahan</a></li>
                    <li><a href="pcp.html">Overall</a></li>
                    <li><a href="pcp.html">Sepatu</a></li>
                    <li><a href="pcp.html">Jeans</a></li>
                    <li><a href="pcp.html">Sports</a></li>
                    <li><a href="pcp.html">Batik</a></li>
                    <li><a href="pcp.html">Kacamata</a></li>
                    <li><a href="pcp.html">Aksesoris</a></li>
                    <li><a href="pcp.html">Baju Muslim</a></li>
                    <li><a href="pcp.html">Pakaian Dalam &amp; Baju Tidur</a></li>
                    <li><a href="pcp.html">Pakaian Ibu Hamil</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
            <!-- Sub Category Male -->
            <nav role="tabpanel" id="male-nav" class="tab-pane fade">
                <ul class="fashion-mall-nav">
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pcp.html">Atasan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="pcp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-large">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="pdp.html">Bawahan</a>
                        <ul class="dropdown-menu megamenu row">
                            <li>
                                <div class="col-sm-6 col-md-6">
                                    <ul>
                                        <li><a href="pcp.html">Kaos &amp; Polo Shirt</a></li>
                                        <li><a href="pcp.html">Blouse</a></li>
                                        <li><a href="ppcpdp.html">Tunik</a></li>
                                        <li><a href="pcp.html">Kemeja</a></li>
                                        <li><a href="pcp.html">Tank Top</a></li>
                                        <li><a href="pcp.html">Sweater &amp; Cardigan</a></li>
                                        <li><a href="pcp.html">Jaket &amp; Coat</a></li>
                                        <li><a href="pcp.html">Blazer</a></li>
                                        <li><a href="pcp.html">Vest</a></li>
                                    </ul>
                                </div>
                                <div class="hover-banner col-xs-6"><img src="img/hover-banner-atasan.jpg" alt="Atasan di Fashion Mall"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="pcp.html">Sepatu Pria</a></li>
                    <li><a href="pcp.html">Sports</a></li>
                    <li><a href="pcp.html">Jeans</a></li>
                    <li><a href="pcp.html">Batik</a></li>
                    <li><a href="pcp.html">Kacamata</a></li>
                    <li><a href="pcp.html">Aksesoris</a></li>
                    <li><a href="pcp.html">Baju Muslim</a></li>
                    <li><a href="pcp.html">Pakaian Dalam &amp; Baju Tidur</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>
</header>
<div id="products-wrap">
    <div class="container">
        <!-- Breadcrumb -->
        <div class="listing-top-nav row clearfix">
            <div class="breadcrumbs col-md-3">
                <ol class="breadcrumb">
                    <li class="first"><a href="#">Home</a></li> 
                    <li><a href="#">Pria</a></li>  
                    <li><a href="#">Jeans</a></li>                          
                    <li class="last">Levi's</li>
                </ol>
            </div>
        </div>
        <!-- Fashion Mall PDP -->
        <div class="fashionmall-pdp row clearfix">
            <div class="col-md-6 product-info-container">
                <div class="product-images clearfix">
                    <div class="commerce-product-field commerce-product-field-field-images field-field-images">
                        <div class="cloud-zoom-container">
                            <div class="cloud-zoom-gallery-thumbs" style="float: left;">
                                <div id="zoom-thumbs-slick">
                                    <a class="cloud-zoom-gallery cloud-zoom-processed img-bg" data-slick-index="0" href="img/80285_XFH00049900141130_1_bacca-adelardo-boots-black.jpeg" rel="useZoom: 'cloud-zoom',smallImage: 'img/80285_XFH00049900141130_1_bacca-adelardo-boots-black.jpeg?itok=Q1j5gqv0'">
                                                <img class="lazy-loaded" data-src="img/80285_XFH00049900141130_1_bacca-adelardo-boots-black.jpeg" src="img/80285_XFH00049900141130_1_bacca-adelardo-boots-black.jpeg">
                                            </a> 
                                            <a aria-hidden="false" class="cloud-zoom-gallery cloud-zoom-processed img-bg" data-slick-index="1" href="img/55178_XFH00049900141130_2_bacca-adelardo-boots-black.jpeg" rel="useZoom: 'cloud-zoom',smallImage: 'img/55178_XFH00049900141130_2_bacca-adelardo-boots-black.jpeg?itok=Q1j5gqv0'">
                                                <img class="lazy-loaded" data-src="img/55178_XFH00049900141130_2_bacca-adelardo-boots-black.jpeg" src="img/55178_XFH00049900141130_2_bacca-adelardo-boots-black.jpeg">
                                            </a> 
                                            <a aria-hidden="false" class="cloud-zoom-gallery cloud-zoom-processed img-bg" data-slick-index="2" href="img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg" rel="useZoom: 'cloud-zoom',smallImage: 'img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg?itok=Q1j5gqv0'">
                                            <img class="lazy-loaded" data-src="img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg" src="img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg">
                                            </a>
                                            <a aria-hidden="false" class="cloud-zoom-gallery cloud-zoom-processed img-bg" data-slick-index="0" href="img/80285_XFH00049900141130_1_bacca-adelardo-boots-black.jpeg" rel="useZoom: 'cloud-zoom',smallImage: 'img/80285_XFH00049900141130_1_bacca-adelardo-boots-black.jpeg?itok=Q1j5gqv0'">
                                                <img class="lazy-loaded" data-src="img/80285_XFH00049900141130_1_bacca-adelardo-boots-black.jpeg" src="img/80285_XFH00049900141130_1_bacca-adelardo-boots-black.jpeg">
                                            </a> 

                                            <a aria-hidden="false" class="cloud-zoom-gallery cloud-zoom-processed img-bg" data-slick-index="1" href="img/55178_XFH00049900141130_2_bacca-adelardo-boots-black.jpeg" rel="useZoom: 'cloud-zoom',smallImage: 'img/55178_XFH00049900141130_2_bacca-adelardo-boots-black.jpeg?itok=Q1j5gqv0'">
                                                <img class="lazy-loaded" data-src="img/55178_XFH00049900141130_2_bacca-adelardo-boots-black.jpeg" src="img/55178_XFH00049900141130_2_bacca-adelardo-boots-black.jpeg">
                                            </a> 
                                            <a aria-hidden="false" class="cloud-zoom-gallery cloud-zoom-processed img-bg" data-slick-index="2" href="img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg" rel="useZoom: 'cloud-zoom',smallImage: 'img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg?itok=Q1j5gqv0'">
                                            <img class="lazy-loaded" data-src="img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg" src="img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg">
                                            </a>
                                </div>
                            </div>
                            <div id="wrap" style="top: 0px; z-index: 98; position: relative; float: left;">
                                <a class="cloud-zoom cloud-zoom-processed img-bg hide-bg" href="img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg" id="cloud-zoom" rel="zoomWidth:'610', zoomHeight:'324', position:'inside', adjustX:0, adjustY:0, tint:'false', tintOpacity:'0.5', lensOpacity:'0.5', softFocus:false, smoothMove:'3', showTitle:true, titleOpacity:'0.5'" style="position: relative; display: block;"><span class="img-helper"></span> <img class="lazy-loaded" data-src="img/80285_XFH00049900141130_1_bacca-adelardo-boots-black.jpeg" height="550" onerror="javascript:loadDefaultImage(this)" src="img/25787_XFH00049900141130_3_bacca-adelardo-boots-black.jpeg?itok=Q1j5gqv0" style="display: block;" width="430"></a>
                                <div class="mousetrap" style="width: 430px; height: 550px; top: 0px; left: 0px; position: absolute; z-index: 9999; cursor: auto; background-image: url(&quot;https://stat1.mataharimall.co/sites/all/libraries/cloud-zoom/blank.png&quot;);"></div>
                                <div class="mousetrap" style="width: 430px; height: 550px; top: 0px; left: 0px; position: absolute; z-index: 9999; cursor: auto; background-image: url(&quot;https://stat1.mataharimall.co/sites/all/libraries/cloud-zoom/blank.png&quot;);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-desc-box product-info-container">
                <div class="product-specs">
                    <div class="product-name-reviews">
                        <div class="field field-name-title-field field-type-text field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even">
                                    <div class="product-brand">
                                        <h1><a href="/products?category_id=&amp;query=BACCA">BACCA</a></h1>
                                        <div class="product-title">
                                            <h1>Bacca Adelardo Boots - Hitam </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-wrap">
                            <div class="main-price-wrapper">
                                <span class="listing-item-price-old">Rp 349.000</span>
                                <!--<span class="listing-item-price-discount">30%</span>-->
                                <span class="listing-item-price-web">Rp 244.300</span>
                            </div>
                            <div class="cicilan-wrapper clearfix">
                                <span class="ccl-label">Cicilan 12 bulan</span> 
                                <span class="ccl-price">Rp 11.667</span> 
                                <span class="ccl-months">/bulan</span>
                                <span class="icn cicilan"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-conditions">
                            <div class="form-group row">
                                    <div id="product-wrapper">
                                        <div class="field field-name-field-product field-type-commerce-product-reference field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                    <div id="add-to-cart-popup-form">
                                                        <form accept-charset="utf-8" action="" class="commerce-add-to-cart commerce-cart-add-to-cart-form in-stock bv-form" id="form-add2art" method="post" name="form-add2art" novalidate="novalidate">
                                                            <button class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;" type="submit"><span class="ladda-label"></span><span class="ladda-spinner"></span></button>
                                                            <div>
                                                                <div class="attribute-widgets clearfix">
                                                                        <div class="form-type-radios form-item-attributes-field-size form-item form-group">
                                                                            <!-- PDP Size -->
                                                                                    <div class="form-group">
                                                                                        <label>Color</label>
                                                                                        <div class="colorpicker-box" style="background-color:#324f79;"></div>
                                                                                        <span class="">Navy</span>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label>Size</label> 
                                                                                        <select class="form-control form-select form-product-variant" size="1">
                                                                                            <option rel="bacca-adelardo-boots-hitam-614244.html" value="40">
                                                                                                40
                                                                                            </option>
                                                                                            <option rel="bacca-adelardo-boots-hitam-614245.html" selected="selected" value="41">
                                                                                                41
                                                                                            </option>
                                                                                            <option rel="bacca-adelardo-boots-hitam-614246.html" value="42">
                                                                                                42
                                                                                            </option>
                                                                                            <option rel="bacca-adelardo-boots-hitam-614247.html" value="43">
                                                                                                43
                                                                                            </option>
                                                                                            <option rel="bacca-adelardo-boots-hitam-614248.html" value="44">
                                                                                                44
                                                                                            </option>
                                                                                        </select>
                                                                                        <button href="#" class="btn-view-size">View Size Group</button>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label for="edit-quantity">Qty</label> 
                                                                                            <select class="form-control form-select" id="edit-quantity" name="qty" size="1">
                                                                                                <option value="1">
                                                                                                    1
                                                                                                </option>
                                                                                                <option value="2">
                                                                                                    2
                                                                                                </option>
                                                                                                <option value="3">
                                                                                                    3
                                                                                                </option>
                                                                                                <option value="4">
                                                                                                    4
                                                                                                </option>
                                                                                                <option value="5">
                                                                                                    5
                                                                                                </option>
                                                                                                <option value="6">
                                                                                                    6
                                                                                                </option>
                                                                                                <option value="7">
                                                                                                    7
                                                                                                </option>
                                                                                                <option value="8">
                                                                                                    8
                                                                                                </option>
                                                                                            </select> 
                                                                                    </div>
                                                                            <input id="variant_id" name="variant_id" type="hidden" value="614245"> <input id="store_id" name="store_id" type="hidden" value="499">
                                                                        </div>
                                                                </div>
                                                                <div class="action-pdp clearfix">
                                                                    <button class="btn btn btn-default form-submit" id="beli-aja" name="beli-aja" type="submit" value="Beli Aja"><span class="ladda-label">Beli Aja</span><span class="ladda-spinner"></span></button>
                                                                    <!--<div class="col-sm-12 pull-right">
                                                                            <div class="wishlist-add">
                                                                            <a id="wishlistBtn" href="#" rel="nofollow" data-product="614245"><span class="icon wishlist" style="float:none;"></span>Add to Wishlist</a>
                                                                        </div>
                                                                    </div>-->
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                </div>
                <!-- Detail Produk -->
                <ul class="item-highlights">
                        <li>Material suede</li>
                        <li>Warna hitam</li>
                        <li>Model chukka boots</li>
                        <li>Hi top boots</li>
                        <li>Sole anti slip</li>
                        <li>Tali sepatu</li>
                </ul>
            </div>
            <div class="col-md-3 recommendations-container">
                <div class="customer-info" data-spy="affix" data-offset-top="200" data-offset-bottom="750">
                    <div id="mmm-container">
                        <div class="store-info">
                            <strong>Dijual dan dikirim oleh:</strong><br>
                            <a href="/store/499/mataharimall">MatahariMall</a>
                        </div>
                        <div class="logo-mmm">
                            <span class="mmm-sprite mmm-logo"></span> <span class="mmm-list-title">Managed by mataharimall</span>
                        </div>
                        <div class="mmm-list-feature">
                            <span class="mmm-sprite produk-asli"></span> <span class="mmm-list-title">100% Kualitas Terjamin</span>
                        </div>
                        <div class="mmm-list-feature">
                            <span class="mmm-sprite pengiriman-kilat"></span> <span class="mmm-list-title">Pengiriman Lebih Cepat</span>
                        </div>
                        <div class="mmm-list-feature">
                            <span class="mmm-sprite packing"></span> <span class="mmm-list-title">Pengembalian Lebih Mudah</span>
                        </div>
                    </div>
                    <section class="block block-block clearfix" id="block-block-16">
                            <div class="store-delivery">
                                <div class="store-delivery-title">
                                    <strong>Pengiriman</strong>
                                </div>
                                <ul class="fancy-list list-check">
                                    <li>
                                        <div class="store-list-title">
                                            <strong>Pengiriman Gratis</strong>
                                        </div>
                                        <div class="store-list-content">
                                            <p><a href="/static/10/faq-waktu-biaya-pengiriman">Info selengkapnya</a>.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="store-list-title">
                                            <strong>Ambil di Toko / eLocker</strong>
                                        </div>
                                        <div class="store-list-content">
                                            <p>Pesanan Anda dapat diambil di lokasi pengambilan sesuai pilihan Anda. Tersedia lebih dari 100 lokasi pengambilan di berbagai kota di Indonesia.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    </section>
                    <div class="store-delivery">
                            <ul class="fancy-list list-check">
                                <li>
                                    <div class="store-list-title" style="display: inline-block;">
                                        <strong>BAYAR DI TEMPAT</strong>
                                    </div>
                                    <div class="store-list-content">
                                        Anda dapat menggunakan layanan bayar di Tempat untuk pembelian Produk ini
                                    </div><!-- BAYAR DI TEMPAT -->
                                    <!-- Anda dapat menggunakan layanan bayar di Tempat untuk pembelian Produk ini -->
                                </li>
                            </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Product Tabs Descriptions -->
        <div class="fashion-pdp">
            <div class="product-tabs row">
                <div class="col-md-9 tabs-container">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a data-toggle="tab" href="#product-details" role="tab">Deskripsi Produk</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#specifications" role="tab">Spesifikasi</a>
                        </li>
                    </ul><!-- Tab panes -->
                    <div class="tab-content">
                        <!-- PDP Tab Detail -->
                        <div class="tab-pane active" id="product-details">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even">
                                        <!-- Block Content Description by Momo -->
                                        <p>Bacca Adelardo Boots. Model chukka boots ini menjadi kegemaran remaja yang menyukai british style dan casual untuk pilihan style sehari-hari. Bacca Adelardo Boots dengan pilihan warna yang netral mudah untuk dipadankan dengan style kegemaran Anda, cukup dipadukan dengan kemeja Oxford dan celana jeans dengan potongan lurus.Voila! You look stunning. Dibuat menggunakan material yang berkualitas sehingga boots ini nyaman saat digunakan melangkah sehari-hari. Lengkapi koleksi boots Anda sekarang juga hanya di mtaharimall.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- PDP Tab Specifications -->
                        <div class="tab-pane" id="specifications">
                            <div class="field-group-table group_specs group-specs field-group-table">
                                <table class="field-group-format group_specs table table-striped table-bordered table-striped">
                                    <tbody>
                                        <tr>
                                            <th class="field-label">SKU</th>
                                            <td class="field-content">
                                                <div class="commerce-product-field commerce-product-field-field-package-content field-field-package-content product-field-package-content">
                                                    <div class="field field-name-field-package-content field-type-text-long field-label-hidden">
                                                        <div class="field-items">
                                                            <div class="field-item even">
                                                                XFH0004990014113002
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="field-label">Color Detail / Vendor Color</th>
                                            <td class="field-content">
                                                <div class="commerce-product-field commerce-product-field-field-package-content field-field-package-content product-field-package-content">
                                                    <div class="field field-name-field-package-content field-type-text-long field-label-hidden">
                                                        <div class="field-items">
                                                            <div class="field-item even">
                                                                Black
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="field-label">Size</th>
                                            <td class="field-content">
                                                <div class="commerce-product-field commerce-product-field-field-package-content field-field-package-content product-field-package-content">
                                                    <div class="field field-name-field-package-content field-type-text-long field-label-hidden">
                                                        <div class="field-items">
                                                            <div class="field-item even">
                                                                41
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="field-label">Color</th>
                                            <td class="field-content">
                                                <div class="commerce-product-field commerce-product-field-field-package-content field-field-package-content product-field-package-content">
                                                    <div class="field field-name-field-package-content field-type-text-long field-label-hidden">
                                                        <div class="field-items">
                                                            <div class="field-item even">
                                                                Black
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Product Descriptions -->
        <!-- Related Products -->
        <section id="related-products" class="fashion-banner">
            <div class="container">
                <div class="section-title">Produk Laris Lainnya</div>
                <div id="related-pdp-slider" class="listing-product-slider owl-carousel">
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals1.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals2.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals3.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals4.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals5.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals1.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals2.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals3.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals4.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                    <div class="item">
                        <a href="#"><img src="img/new-arrivals5.jpg" alt="Produk Terbaru di Fashion Mall"></a>
                        <h5 class="listing-item-content-brand">American Jeans</h5>
                        <p class="listing-item-content-description">Men's Stone Wash Jenas</p>
                        <span class="listing-item-price-old">Rp 349.000</span>
                        <!--<span class="listing-item-price-discount">30%</span>-->
                        <span class="listing-item-price-web">Rp 244.300</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Fashion Mall Footer -->
<footer id="footer">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-3">
                <div class="block-title">Layanan Pelanggan</div>
                <ul>
                    <li><a href="#">Cara Berbelanja</a></li>
                    <li><a href="#">Info Pembayaran</a></li>
                    <li><a href="#">Info Pengiriman</a></li>
                    <li><a href="#">Cara Pengembalian Produk</a></li>
                    <li><a href="#">Panduan Ukuran</a></li>
                    <li><a href="#">Ada Pertanyaan?</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <div class="block-title">Info FashionMall.com</div>
                <ul>
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Berjualan di FashionMall.com</a></li>
                    <li><a href="#">Partnership Lainnya</a></li>
                    <li><a href="#">Info Karir</a></li>
                    <li><a href="#">Kebijakan Privasi</a></li>
                    <li><a href="#">Syarat &amp; Ketentuan</a></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <div class="block-title">Daftar &amp; Dapatkan Penawaran Spesial!</div>
                <div class="form-newsletter-signup">
                    <form action="https://mataharimall.us10.list-manage.com/subscribe/post-json?u=ce402de87bc4303ab82a36695&amp;id=912ec37292&amp;c=?" class="form-search-opps" id="mc-embedded-subscribe-form" method="get" name="mc-embedded-subscribe-form" novalidate="" role="search">
                        <input id="mce-EMAIL" name="EMAIL" placeholder="Masukkan email Anda di sini" type="text" value="">
                        <button id="mce-GENDER-0" name="GENDER" type="submit" value="Pria">
                            <span class="ladda-label">Pria</span><span class="ladda-spinner"></span>
                        </button>
                        <button id="mce-GENDER-1" name="GENDER" type="submit" value="Wanita">
                            <span class="ladda-label">Wanita</span><span class="ladda-spinner"></span>
                        </button>
                    </form>
                </div>
                <div class="social-media-links">
                    <span>Follow Us</span>
                    <ul>
                        <li><a href="#"><span class="ion-social-facebook"></span></a></li>
                        <li><a href="#"><span class="ion-social-instagram-outline"></span></a></li>
                        <li><a href="#"><span class="ion-social-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Fashion Mall JS -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://stat1.mataharimall.co/js/slick.min.js"></script>
<script src="https://stat1.mataharimall.co/sites/all/libraries/cloud-zoom/cloud-zoom.1.0.3.min.js?v=1.0.3"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/scripts.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      // Zoom Thumbs PDP
        $('#zoom-thumbs-slick').slick({
            infinite: false,
            slidesToShow: 5,
            slidesToScroll: 5,
            vertical:true,
            verticalSwiping:true
        });
    });
</script>
<!-- Google Tag Manager -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58349921-2', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Tag Manager -->
<script src="https://stat1.mataharimall.co/js/v3.min.js"></script>
</body>
</html>